header {
    font-family: Futura, sans-serif;
}
/* MAIN TITLE */
#mainTitle {
    display: block;
    font-size: 5em;
    width: 40%;
    text-align: center;
    float: left;
    margin: 15px 0 20px 16%;
}

/* TAG LINE */
#tagLine {
    font-size: 2em;
    margin: 15px 0 25px 5px;
    width: 230px;
    float: left;
}

/* LOGO */
header>img {
	width:80px;
	height:auto;
	float:left;
    margin: 0 0 0 80px;
}

header li {
    font-size: 2em;
}

header a{
	text-decoration:none;
    color: #222;
}

/* PROFILE BUTTONS */
.upperNav {
	text-align: center;
    width: 210px;
    margin-left: 40px;
    display: inline-block;
}

.upperNav li {
	display:inline-block;
}

.upperNav ul li a{
	display:inline-block;
    width: 80px;
    height: 30px;
    color: #FFF;
    font-size: .7em;
    vertical-align: top;
    line-height: 30px;
    background: red;
    background: -webkit-linear-gradient(top, #9E2909, #FF4E17);
    background: -o-linear-gradient(top, #9E2909, #FF4E17); 
    background: -moz-linear-gradient(top, #9E2909, #FF4E17);
    background: linear-gradient(top, #9E2909, #FF4E17);
    border: 1px solid #222;
    border-radius: 8px;
    margin: 0 10px;
}

/* MAIN NAVIGATION */
.lowerNav{
    float: right;
	margin-right: 30px;
/*    border-bottom: 2px solid #222;*/
}

.lowerNav ul li {
    float: left;
	margin: 20px auto 0;
	padding: 0 15px;
/*	border:1px solid black;*/
    text-align: center;
}

