/*media query for <768px screen size*/

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }
    header {
        flex-direction: column;
    }
    #mainTitle {
        width: 100%;
        margin: 0 auto;
    }
    .logoTagline {
        
        text-align: center;
    }
    .logo {
        margin: 0 auto;
    }
    .logo h2 {
        margin: 0;
    }
    .upperNav {
        text-align: center;
        margin: 15px auto;
    }
    .lowerNav {
        margin: auto;
        text-align: center;
    }
    .lowerNav li {
    }
    main article {
        margin: 5px auto;
        width: 100%;
    }
    main aside {
        width: 100%;
        margin: 0 auto;
    }
    .asideGeneralBlock {
        margin: 0 auto;
        width: auto;
    }
    footer {
        position: static;
        /*		display: flex;*/
        width: 100%;
        margin: 5px auto;
        text-align: center;
    }
}

/*end*/


/*media query for >768px to <992px to screen size*/

@media (max-width: 992px) and (min-width:768px) {
    body {
        width: 100%;
    }
    article {
        width: 100%;
    }
    aside {
        overflow: hidden;
        width: 66.6%;
    }
    .asideUsers {
        width: 45%;
        overflow: hidden;
    }
    .asideLinks {
        width: 45%;
        overflow: hidden;
    }
    footer {
        position: static;
        width: 31.6%;
    }
    aside,
    footer {
        margin-top: 10px;
    }
    #maincontainer {
        border: none;
    }
}

@media (max-width: 550px) {
    header {
        flex-direction: row-reverse;
    }
    #nav-button {
        display: flex;
        align-self: center;
        margin-right: 5px;
    }
    .lowerNav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .lowerNav {
        width: 100%;
    }
    .lowerNav li {
        width: 100%;
    }
    .lowerNav a {
        width: 100%;
    }
    .paddingHeader {
        padding: 0;
    }
    .navButton {
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .upperNav li {
        width: 30%;
    }
    .upperNav {
        margin: 0;
        display: flex;
/*        flex-direction: column;*/
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    .upperNav ul {
        flex-flow: row nowrap;
        height: 30px;
        width: 100%;
        margin: 5px 0;
        justify-content: space-around;
        align-items: center;
    }
    .upperNav li {
        background-color: #efecec;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #66757f;
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        text-decoration: none;
        font-size: 13px;
        border: 1px solid #dedede;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        cursor: pointer;
        margin: 0;
    }
    .pipes li + li::before {
        content: "";
    }
    .logoTagline {
        text-align: left;
    }
    .logo {
        width: 36px;
        display: flex;
        align-self: center;
    }
    #tagLine {
        font-size: 0.95em;
    }
    .upperLowerNav {
        overflow: hidden;
        height: 0;
        width: 100%;
        -webkit-transition: height 400ms ease-in;
        -moz-transition: height 400ms ease-in;
        -o-transition: height 400ms ease-in;
        transition: height 400ms ease-in;
    }
    .nav-show .upperLowerNav,
    .nav-show .upperLowerNav {
        height: 208px !important;
    }
    .nav-show .menuIcon::before {
        font-family: FontAwesome;
        color: #3b97ff;
        font-size: 2.3em;
    }
    .nav-show button {
        background-color: #c6d5e5 !important;
    }
}