@media screen and (max-width: 768px) {
	#maincontainer {
		width: 100%;
	}

	#mainTitle {
		display: block;
		width: 100%;
		clear: both;
		float: none;
		margin: 0 auto;
	}
	.logo {
		display: block;
		margin: 15px auto;
		clear: both;
		float: none;
	}
	#tagLine {
		display: none;
	}
	.upperNav ul:first-child li:first-child {
		display: none;
	}
	.upperNav {
		display: block;
		text-align: center;
		margin: 15px auto;
	}
	.lowerNav {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	main article {
		display: block;
		float: none;
		margin: 5px auto;
		width: 100%;
	}
	main aside {
		display: block;
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.asideGeneralBlock {
		margin: 0 auto;
		width: auto;
	}
	footer {
		position: static;
		display: block;
		width: 100%;
		margin: 5px auto;
		text-align: center;
	}
}