/*CSS file for general styles that are not specific*/

body{
	background: #f5f8fa;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 992px;
}

em{
	 font-style: italic;
}

a{
	text-decoration: none;
	color:#000000;
}

h1, h2, p{
	color:#222222;
}

.grey{
	color:#bbbbbb;
}

b{
	font-weight: bold;
}

.clearFloat{
	clear:both;
}

.clearLeft{
	clear:left;
}

.clearRight{
	clear:right;
}

.aHoverColorUnderline:hover{
	text-decoration:underline;
	color:#0084B4;
}

.aHoverUnderline:hover{
	text-decoration:underline;
}

main{
	display: flex;
    
}


.padding{
	padding: 3px 10px 9px 10px;
}
